name: Build

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore Pgvector.EntityFrameworkCore.Scaffolding.sln

      - name: Build
        run: dotnet build Pgvector.EntityFrameworkCore.Scaffolding.sln -c Release --no-restore

      - name: Pack
        run: dotnet pack Pgvector.EntityFrameworkCore.Scaffolding.csproj -c Release --no-build -o artifacts

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: artifacts/*.nupkg

      - name: Upload NuGet package
        uses: actions/upload-artifact@v4
        with:
          name: nuget-package
          path: artifacts/*.nupkg
